table {
    position: absolute;
    width: 100%;
    color: #122945;
    border-collapse: collapse;
    border-spacing: 0;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px #E9EDF3;
}

th, td {
    border-bottom: 1px solid #EAF0FA;
    height: 61px;
    text-align: center;
    background-color: #FFFFFF;
}

table tbody tr:hover td{
    background-color: rgba(212, 223, 243, 0.17);
    border-radius: 0px;
}